.advantages {
  height: 248px;
  margin-bottom: 94px;
}

.advantages-list {
  display: flex;
}

.advantages-text {
  width: 100%;
  // margin-right: 30px;
  line-height: 1.71;
}

.advantages-text {
  color: $third-color;
}

.advantages-list {
  gap: 30px;
}

.advantage-item::before {
  @extend %placeholderAdv !optional;
}

.advantages-item:first-child::before {
  background-image: url(../img/antenna.svg);
}

.advantages-item:nth-child(2)::before {
  background-image: url(../img/clock.svg);
}

.advantages-item:nth-child(3)::before {
  background-image: url(../img/computer.svg);
}

.advantages-item:last-child::before {
  background-image: url(../img/astronaut.svg);
}
