$main-color: #212121;
$second-color: #2196f3;
$third-color: #757575;
$fourth-color: #ffffff;
$fifth-color: #000000;
$uni-color: #f5f4fa;
$regular-cus: #afb1b8;
$footerbg-color: #2f303a;
$example-color: rgba(47, 48, 58, 0.8);
$footer-color: #2f303a;
$bgf-color: rgba(255, 255, 255, 0.11);
$bf-color: rgba(255, 255, 255, 0.3);
$butf-color: rgba(17, 77, 125, 1);
$hero-bgi-color: rgba(0, 0, 0, 0.5);
$hero-bgi-grey: rgba(255, 255, 255, 0.5);
$box-shadow: rgba(0, 0, 0, 0.3);
$footer-shadow: rgba(0, 0, 0, 0.15);

$--duration: 250ms;
$--cubic: cubic-bezier(0.4, 0, 0.2, 1);
// $duration: 250ms;
// $cubic: cubic-bezier(0.4, 0, 0.2, 1);
